* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100vw;
    height: 8vh;
    border-top: 5px solid #e5e9eb;
    padding: 10px 15px;
}

.logo, .title {
    vertical-align: middle; /* ???? */
}

.logo {
    width: 50px;
}

.title {
    font-size: 35px;
    font-weight: 900;
}

.container {
    width: 100%;
    height: 92vh;
    background-color: #e5e9eb;
    padding-top: 50px;
}

.small-container {
    margin: auto;
    width: 65%;
    height: 95%;
    background-color: #fff;
    border-radius: 5px;
}

.small-container-menu {
    width: 100%;
    height: 8%;
    padding: 20px 0 0 60px;
    border-bottom: 2px solid #e5e9eb;
}

.button {
    border-radius: 5px;
    padding: 6px 12px;
}

.first {
    background-color: #47adf1;
    border: 1px solid #47adf1;
    color: #fff;
    margin-right: 2px;
}

.second {
    background-color: #fff;
    border: 1px solid #c8cdd2;
    color: #c8cdd2;
}

.small-container-list {
    padding: 45px 60px;
    font-size: large;
    font-weight: 900;
    font-size: 22px;
}

ul {
    padding: 0;
    list-style: none;
    margin: 5px 0 25px;
}

li {
    font-weight: 500;
    font-size: 18px;
}

.check, .cross {
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    border-radius: 50%;
    border: 1px solid;
    margin: 15px 0;
    display: inline-block;
}

.check {
    color: #78cab7;
    border-color:  #78cab7;;
}

.cross {
    color: #eb4b42;
    border-color: #eb4b42;
}

.content {
    display: inline-block;
    height: 20px;
    width: 70%;
    margin-left: 10px;
}

.tag {
    display: inline-block;
    border-radius: 15px;
    padding: 6px 10px;
    font-size: 10px;
    color: #fff;
}

.editorial {
    background-color: #47adf1;
}

.q1-goals {
    background-color: #9c72e4;
}

.recruiting {
    background-color: #64c0a9;
}

.mobile {
    background-color: #f29e33;
}

.website {
    background-color: #d863a1;
}

.sales {
    background-color: #b0c926;
}

